.call {
	display: flex;
	flex-direction: row;
	height: 500px;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: var(--primary-brand-dark);
	border-radius: 35px;
	padding: 50px;
	margin: 0 30px 0;
	box-shadow:
		inset 0 0 0 5px #2e3133,
		inset 0 0 0 10px #ebe2d1;
}
.input__group {
	position: relative;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}
.label__text {
	display: flex;
	color: var(--primary-brand-ligth);
}

.header__text {
	color: var(--primary-brand-ligth);
	margin-bottom: 30px;
}
.phone__input {
	border: 1px solid black;
}
