.component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 150px;
}

.service__name {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 200px;
	background-color: rgb(var(--primary-color));
	padding: 20px;
}

.link {
	text-wrap: wrap;
	text-align: center;
	line-height: 20px;
}

.image {
	width: 100%;
	height: 200px;
}

@media (max-width: 768px) {
	.component {
		width: 100%;
		padding: 0 20px 0;
	}
}
