.wrapper {
  display: grid;
  grid-template:
    "header" auto
    "body" auto
    "footer" auto
    / auto;
  width: 100%;
}

.header {
  grid-area: header;
  justify-content: center;
}
.body {
  grid-area: body;
  width: 100%;
  justify-content: center;
}

.footer {
  grid-area: footer;
  background: var(--primary-brand-dark);
}

@media (width <= 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "body"
      "footer";
  }
}
