.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main {
	display: flex;
	flex-direction: column;
	height: 130vh;
	position: relative;
}
.main::before {
	content: "";
	position: absolute;
	top: -200px;
	left: -200px;
	right: 0;
	bottom: 0;

	/* Фоновое изображение */
	background-image: url("http://localhost:3002/images/maini.webp");
	background-size: cover;

	/* Полупрозрачность */
	opacity: 0.2;
}

.info {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;
	width: 100%;
}

.services {
	position: absolute;
	bottom: 0;
	width: 100%;
}
