.wrapper {
  display: grid;
  grid-template:
    "services" auto
    "consult" auto
    "projects" auto
    / 1fr;
}
.services {
  grid-area: services;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.consult {
  grid-area: consult;
}
.projects {
  grid-area: projects;
}

.header {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: 12px;
  width: 100%;
}

@media (max-width: 765px) {
  .info {
    justify-content: center;
  }
}
