:root {
  --font: "Roboto Flex", sans-serif;
  --primary-brand-ligth: white;
  --primary-rgb: 216, 212, 205;
  --primary-brand-dark: #00c9d4;
  --subtext-color: #8f8f8f;
  /* #00abb4; */
  /* #04c0c9; */
  --primary-dark-rgb: #2e3133;
  --border-line: 1px solid rgba(255, 255, 255);
  --max-width: 1530px;
  --min-width: 320px;
  --main-content-width: minmax(var(--min-width), var(--max-width));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-size: clamp(0.875rem, 0.8362rem + 0.1724vw, 1rem);
}

h1 {
  font-size: clamp(1.5rem, 1.1897rem + 1.3793vw, 2.5rem);
}

h2 {
  font-size: clamp(1.75rem, 3.5vw, 1.875rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 1.625rem);
}

h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.375rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 1.125rem);
}

h6 {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
img,
video,
select,
input {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}
