.projects__wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  padding: 30px 0 30px;
}
.projects__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search__components {
  display: flex;
  flex-direction: row;
}
.text__header {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(var(--primary-color));
}
.actions {
  display: flex;
  flex-direction: row;
}
.input__group {
  display: flex;
  gap: 10px;
}
.input {
  border: 1px solid black;
  width: 300px;
}
.label {
  display: flex;
}
.body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0 30px;
}
@media (max-width: 1530px) {
  .projects__wrapper {
    padding: 4%;
  }
}
