.block {
  max-width: 1530px;
  border: var(--border-line);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 768px) {
  .block {
    flex-direction: column;
  }
}
