.block {
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(10px) saturate(150%);
	-webkit-backdrop-filter: blur(10px) saturate(150%);
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: relative;
	color: white;
}
