.header {
  display: grid;
  grid-template-areas: "main";
  grid-template-rows: auto;
  grid-template-columns: var(--main-content-width);
  background: var(--primary-brand-dark);
  padding-bottom: 20px;
}
.main {
  grid-area: main;
}
