.contact {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: white;
  font-size: 32px;
}
.li {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.link {
  &:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    align-items: start;
  }
  .separator {
    display: none;
  }
}
