.block {
	max-width: var(--max-width);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 60px;
	width: 100%;
}
@media (max-width: 768px) {
	.block {
		flex-direction: column;
		width: 100%;
	}
}
