.header {
	display: grid;
	grid-template: 
	"logo commun ." auto
	"dialog links instr" auto
	 / auto auto auto;
	backdrop-filter: blur(10px) saturate(150%);
	padding: 20px;
	-webkit-backdrop-filter: blur(10px) saturate(150%);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	gap: 20px;
	background-color: rgba(0, 0, 0, 0.1); 
	width: 100%;

}

.links {
	grid-area: links;
    display: flex;
    width: 100%;
	justify-content: space-between;
}

.commun {
	grid-area: commun;
	display: flex;
	align-items: center;
	width: 100%;
	gap: 10px;
	color: white;
	font-size: 32px;
}
.logo__wrapper{
	width: 100%;
	grid-area: logo;
	
}
.logo {

	width: 300px;
}
.dialog {
	grid-area: dialog;
	width: 100%;

}
.instr {
	grid-area: instr;
	width: 100%;
}

@media (max-width: 765px) {
	.header {
		grid-template-columns: auto;
		grid-template-areas: "logo" "commun" "links";
	}
	.links {
		display: none;
	}
}
