.form {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--primary-color));
  padding: 2rem;
}

.header__text {
  color: var(--second-color);
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
.inputs {
  display: flex;
  padding: 50px 0 50px;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .inputs {
    flex-flow: column;
  }
  .form {
    border: none;
  }
}
