.navigation__component {
  display: grid;
  grid-template-areas: "breadcrumb butt";
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.breadcrumb {
  grid-area: breadcrumb;
}

.butt {
  grid-area: butt;
}

.list {
  height: 100%;
}

@media (max-width: 765px) {
  .navigation__component {
    grid-template-areas:
      "breadcrumb"
      "butt";
    gap: 10px;
  }

  .butt {
    justify-self: end; /* Прижать элемент вправо */
  }
}
