.component {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.image__block {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  align-items: center;
}

.header {
  display: flex;
  min-height: 150px;
  width: 100%;
  align-items: center;
}

.header__text {
  font-weight: 600;
  font-size: 24px;
  flex-wrap: wrap;
  text-align: center;
  color: black;
}

.image {
  min-width: 100px;
  min-height: 100px;
}

.text__block {
  padding: 15px;
}

.description {
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  color: black;
}
